.confirmation-modal {
    .main-modal-container {
        width: 700px;
        top: 30%;
        margin-left: (700px / 2) * -1;
    }

    .description {
        text-align: left;
        margin-bottom: 50px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
}