.sub-menu {
    .menu-sections {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .movies-count {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 28px;

        span {
            font-weight: 500;
            font-size: 16px;
            margin-left: 7px;
        }
    }

    .sub-menu-line {
        margin-bottom: 24px;
        margin-top: -4px;

        div {
            &:nth-child(1) {
                background-color: #424242;
                margin-bottom: 1px;
                height: 2px;
            }

            &:nth-child(2) {
                background-color: #080707;
                height: 1px;
            }
        }
    }
}