.movie-search {
    .container {
        position: relative;
        z-index: 15;
        padding-top: 120px;
        margin-bottom: 20%;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .85);
    }

    input {
        width: 78%;
        background: rgba(50, 50, 50, 0.8);
        height: 57px;
        border: 0;
        opacity: 0.7;

        &::placeholder {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            opacity: 0.3;
        }
    }

    button {
        margin-left: 10px;
    }
}