.btn-main {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; 
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 18px;
    border: 0 !important;
    font-weight: 500 !important;
    min-width: 180px;
}

.btn-primary { 
    color: white !important;
    background-color: #F65261 !important;
}

.btn-transparent {
    color: #F65261 !important;
    border: 1.5px solid #F65261 !important;
    background-color: transparent !important;
}

.btn-secondary { 
    color: #F65261 !important;
    background-color: rgba(96, 96, 96, 0.68) !important;
}

.btn-big {
    min-width: 233px;
}