@import './common/global';
@import './common/form';
@import './common/modal';
@import './common/typography';
@import './App.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #414141 !important;
}

.black-overlay {
  background-color: #232323;
}

.Toastify__toast-container {
  bottom: 3em !important;
}