.filters {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
        list-style-type: none;
        color: #ffffff;
        margin-right: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        padding: 20px 0;

        &.active {
            border-bottom: 4px solid #F65261;
        }
    }
}