form {
    label {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.888889px;
        text-transform: uppercase;
        color: #F65261;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 13px;
        text-transform: uppercase;
    }

    input, select {
        background: rgba(50, 50, 50, 0.948044);
        mix-blend-mode: normal;
        opacity: 0.8;
        border-radius: 4px;
        border: none;
        height: 57px;
        padding-left: 18px;
        color: #ffffff;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;

        input, select {
            width: 100%;
        }
    }
}