.modal-main {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.6);
    top: 0;
    left: 0;
    z-index: 5;
  
    h1 {
      text-align: left;
      margin-bottom: 38px;
    }
  
    .close-btn {
      top: 30px;
      right: 30px;
      width: 30px;
    }
    
    .main-modal-container {
      position: absolute;
      padding: 60px;
      left: 50%;
      text-align: center;
      font-family: Montserrat;
      background: #232323;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 10px 50px rgba(0, 0, 0, 0.05);
    }
  
    .form-buttons {
      text-align: right;
      
      button:first-child {
        margin-right: 13px;
      }
    }
  }