.movie-details {
    display: flex;
    padding-top: 91px;
    padding-bottom: 29px;
    flex-wrap: wrap;

    .details-left {
        width: 323px;
        margin-right: 53px;
        flex-basis: 25%;

        img {
            width: 100%;
        }
    } 

    .details-right {
        flex-basis: 60%;

        .title-details {
            display: flex;
            align-items: center;

            span {
                margin-left: 25px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid white;
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }
        }
    }

    h5 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        color: white;
    }

    .date {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #F65261;
        margin-top: 30px;

        span:first-child {
            margin-right: 51px;
        }
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin-top: 29px;
    }
}